<div id="header">
  <!-- Logo -->
  <h1 class="notext" id="logo">
    <a href="/">Institute of Certified Forensic Accountants</a>
  </h1>

  <!-- End Logo -->
  <!-- Social Links -->
  <div class="social-links">
    <ul>
      <li>
        <a href="/financejobs">
          <strong>Accountancy Jobs</strong>
        </a>
      </li>
      <li>
        <a href="/contact">
          <strong>Contact</strong>
        </a>
      </li>
      <li>
        <a href="/membersection">
          <strong>MyLogin</strong>
        </a>
      </li>
      <li>
        <a href="/covid">
          <strong>
            <font color="#993300">Covid 19</font>
          </strong>
        </a>
      </li>
    </ul>
  </div>
  <!-- End Social Links -->
  <!-- Header Links -->
  <!-- End Header Links -->
  <div class="cl"> &nbsp;</div>
  <!-- Navigation -->
  <div id="navigation">
    <ul>
      <li class="first">
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/about" class="">About us</a>
      </li>
      <li>
        <a href="/apply" class="">
          Join ICFA
        </a>
        <div class="dd">
          <ul>
            <li>
              <a href="/apply" class="">APPLY NOW</a>
            </li>
            {# <li>
              <a href="/fees">Fee Structure</a>
            </li> #}
          </ul>
        </div>
      </li>
      <li>
        <a href="/courses" class="">Courses</a>
      </li>
      <li>
        <a href="/tutors/kelly">Tutors</a>
        <div class="dd">
          <ul>
            <li>
              <a href="/tutors/kelly" class="">Prof. Kelly Mua Kingsly</a>
            </li>
            <li>
              <a href="/tutors/richard" class="">Prof. Richard Mayungbe</a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <!-- End Navigation -->
</div>
<!-- End Header -->