@mixin beveled-corners($bg,
	$tl:0, $tr:$tl, $br:$tl, $bl:$tr) {
	background: $bg;
	background:
		linear-gradient(135deg, transparent $tl, $bg 0) top left,
		linear-gradient(225deg, transparent $tr, $bg 0) top right,
		linear-gradient(-45deg, transparent $br, $bg 0) bottom right,
		linear-gradient(45deg, transparent $bl, $bg 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
}

@mixin n-items($n) {

	&:first-child:nth-last-child(#{$n}),
	&:first-child:nth-last-child(#{$n}) ~ & {
		@content;
	}
}

/* Color Theme Swatches in Hex */
$agave-1-hex: #2E95A3;
$agave-2-hex: #50B8B4;
$agave-3-hex: #C6FFFA;
$agave-4-hex: #E2FFA8;
$agave-5-hex: #D6E055;

/* Color Theme Swatches in RGBA */
$agave-1-rgba: rgba(46, 148, 163, 1);
$agave-2-rgba: rgba(79, 183, 179, 1);
$agave-3-rgba: rgba(198, 255, 250, 1);
$agave-4-rgba: rgba(225, 255, 168, 1);
$agave-5-rgba: rgba(213, 224, 85, 1);

/* Color Theme Swatches in HSLA */
$agave-1-hsla: hsla(187, 55, 41, 1);
$agave-2-hsla: hsla(177, 42, 51, 1);
$agave-3-hsla: hsla(175, 100, 88, 1);
$agave-4-hsla: hsla(80, 100, 82, 1);
$agave-5-hsla: hsla(64, 69, 60, 1);
