* {
  margin: 0;
  outline: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0px;
}

html,
body {
  height: 100%;
}

body {
  font-size: 13px;
  line-height: 19px;
  font-family: Arial, Helvetica, sans-serif;
  color: #303b44;
}
.entry {
  margin-bottom: 0px;
}
a {
  color: #000;
}
a:hover {
  color: #000000;
  text-decoration: none;
}
a img {
  border: 0;
}

input,
textarea,
select {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
textarea {
  overflow: hidden;
}

.cl {
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  clear: both;
}
.notext {
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}

.left,
.alignleft {
  float: left;
  display: inline;
  padding-right: 8px;
}
.right,
.alignright {
  float: right;
  display: inline;
  padding-left: 5px;
}

#wrapper {
}

.shell {
  width: 1027px;
  margin: auto;
  background-color: #fff;
  padding: 0 20px;
}

.last {
  margin-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
h1 {
  font-size: 30px;
  line-height: 22px;
  font-weight: bold;
  letter-spacing: -2px;
}
h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
  letter-spacing: -1px;
  color: #33334d;
}

h3 {
  font-size: 16px;
  line-height: normal;
  font-weight: bold;
  text-transform: none;
  letter-spacing: -1px;
  color: #33334d;
}
h4 {
  font-size: 10px;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #6666cc;
  background-color: #fff;
}
h4 a {
  margin-left: -4px;
  padding: 2px 4px;
  text-decoration: none;
  background-color: #ffffff;
  outline: 0;
}

a {
  color: #7644b3;
  text-decoration: none;
  transition: color 0.3s ease-in-out 0s;
}

h5 {
  font-size: 14px;
  line-height: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}
h6 {
  font-size: 13px;
  color: #2e2e43;
  line-height: 16px;
}
.entry2 {
  margin-bottom: 20px;
  background-color: #ffffff;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-top: 20px;
  border: #cccccc solid 1px;
}
.entry3 {
  margin-bottom: 20px;
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 10px;
  margin-top: 20px;
}

.entry h1.title {
  color: #33334d;
  padding-bottom: 16px;
  margin-bottom: 18px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}

.entry h2.title {
  color: #000000;
  padding-bottom: 10px;
  margin-bottom: 18px;
  line-height: 27px;
  font-size: 18px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #cccccc;
}
.entry h6.style-title {
  margin-bottom: 10px;
}
.entry p {
  margin-bottom: 0px;
  line-height: 1.3rem;
}
.entry ul,
.entry ol {
  padding: 0 0 0 20px;
}
.caption {
  background-color: #f3f3f3;
  padding: 5px 10px 5px 10px;
  color: #fff;
}
.entry table {
  border-image: none;
  width: 400px;
  margin: 0px 0px 20px;
  border-collapse: collapse;
}
.entry th {
  padding: 7px 1px;
  text-align: center;
  background-color: #d5bfd5;
}
.entry td {
  border: solid 1px #fff;
  padding: 3px 10px;
  text-align: center;
  background: #fff;
  color: #454545;
  font-weight: normal;
}
.entry td a {
  color: #454545;
  text-decoration: underline;
}
.entry td a:hover {
  color: #891c56;
  text-decoration: none;
}
.entry blockquote {
  border-left: 4px solid #027bc0;
  font-style: italic;
  padding-left: 15px;
}
.entry a.images {
  display: block;
  border: 4px solid #efefef;
  margin-bottom: 10px;
}
.entry .more {
  display: block;
  font-size: 11px;
  line-height: 22px;
  font-weight: bold;
  background: url(images/blue-arrow.png) no-repeat 0 9px;
  padding-left: 9px;
  text-decoration: none;
  color: #000;
}
.entry .more:hover {
  color: #000000;
  text-decoration: none;
}
.text-styles {
  color: #000;
}
.styles-form {
  padding-top: 10px;
}
.styles-form .row {
  width: 470px;
}
.styles-form .row label {
  width: 30px;
  text-align: left;
}
.styles-form .row .submit-btn {
  float: left;
  display: inline;
  margin-left: 40px;
}

#header {
  z-index: 100;
}

h1#logo {
  float: left;
  display: inline;
  width: 291px;
  height: 127px;
  margin: 0px 0 0 0px;
}
h1#logo a {
  display: block;
  height: 291px;
  background: url(images/icfa_logo.jpg) no-repeat 0px 10px;
}

.social-links {
  float: right;
  display: inline;
  margin: 83px 25px 0 0;
}
.social-links ul {
  list-style-type: none;
}
.social-links ul li {
  float: left;
  display: inline;
  height: 22px;
  background: no-repeat right 0;
  padding-right: 0px;
  margin-right: 0px;
}
.social-links ul li.last {
  background: none;
  padding: 0;
  margin: 0;
}
.social-links ul li a {
  float: left;
  display: inline;
  height: 25px;
  background-repeat: no-repeat;
  background-position: 0 0px;
  font-size: 13px;
  line-height: 20px;
  color: #878787;
  padding-left: 25px;
  text-decoration: underline;
}
.social-links ul li a:hover {
  color: #000;
  text-decoration: none;
}

#navigation {
  position: relative;
  height: 45px;
  background: url(images/nav-bg.png) no-repeat 0 0;
  margin-top: 25px;
  margin-bottom: 25px;
  z-index: 100;
}
#navigation ul {
  list-style-type: none;
}
#navigation ul li {
  position: relative;
  float: left;
  display: inline;
  height: 45px;
  background: url(images/nav-div.gif) no-repeat right 0;
}
#navigation ul li a {
  float: left;
  display: inline;
  height: 45px;
  font-size: 13px;
  font-weight: normal;
  color: #000;
  line-height: 45px;
  text-transform: normal;
  padding: 0 24px;
  text-decoration: none;
}
#navigation ul li a.l-dd {
  padding-right: 34px;
}
#navigation ul li a:hover,
#navigation ul li a.hover {
  background: url(images/nav-hover.gif) repeat-x 0 0;
  color: #fff;
}
#navigation ul li.first a:hover {
  background-image: url(images/first-nav-hover.gif);
  background-repeat: no-repeat;
}

#navigation ul li .nav-arrow {
  position: absolute;
  top: 16px;
  right: 21px;
  display: block;
  width: 7px;
  height: 6px;
  background: url(images/nav-arrow.gif) no-repeat 0 0;
}
#navigation ul li .nav-arrow-hover {
  background: url(images/nav-arrow-hover.gif) no-repeat 0 0;
}
#navigation ul li .dd {
  position: absolute;
  top: 43px;
  left: -1px;
  width: 290px;
  display: none;
  background: #878787;
  border: 1px solid #a2a2a2;
  border-bottom: 0;
  z-index: 100;
}
#navigation ul li .dd ul {
  padding: 0;
}
#navigation ul li .dd ul li {
  float: none;
  display: block;
  width: 290px;
  height: 43px;
  background: none;
  border-bottom: 1px solid #a2a2a2;
  font-size: 0;
  line-height: 0;
}
#navigation ul li .dd ul li a {
  position: relative;
  float: none;
  display: block;
  height: 43px;
  padding: 0 0 0 28px;
  text-shadow: none;
  font-size: 13px;
  font-weight: normal;
  line-height: 45px;
  text-transform: none;
  color: #fff;
}
#navigation ul li .dd ul li a:hover,
#navigation ul li .dd ul li a.hover {
  background: #cfcfcf;
  color: #333;
}
#navigation ul li .dd ul li .dd-arrow {
  position: absolute;
  top: 20px;
  right: 6px;
  display: block;
  width: 3px;
  height: 5px;
  background: url(images/dd-arrows.gif) no-repeat 0 0;
  overflow: hidden;
}
#navigation ul li .dd ul li .dd-arrow-hover {
  background: url(images/dd-arrows.gif) no-repeat 0 -5px;
}
#navigation ul li .dd ul li .dd {
  background: #cfcfcf;
  left: 100%;
  top: -1px;
}
#navigation ul li .dd ul li .dd ul li a {
  color: #333;
}
#navigation ul li .dd ul li .dd ul li a:hover {
  background: #fff;
}

#slider {
  position: relative;
  width: 971px;
  height: 281px;
  margin-top: 5px;
  background-color: #000;
}
.slider-content {
  position: relative;
  width: 971px;
  height: 281px;
  overflow: hidden;
  z-index: 1;
}
.slider-content ul {
  list-style-type: none;
  position: relative;
  overflow: hidden;
}
.slider-content ul li,
#slider .jcarousel-clip {
  width: 971px;
  height: 281px;
  position: relative;
}
#slider #slider-prev,
#slider #slider-next {
  position: absolute;
  top: 112px;
  width: 45px;
  height: 79px;
  display: block;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
  z-index: 2;
  background-image: url(images/slider1-prev.png);
}
#slider #slider-prev {
  left: -7px;
  background: url(images/slider1-prev.png) no-repeat 0 0;
}
#slider #slider-next {
  right: -7px;
  background: url(images/slider1-next.png) no-repeat 0 0;
}
.slider-pagination {
  position: absolute;
  bottom: 10px;
  right: 15px;
  z-index: 2;
}
.slider-pagination ul {
  list-style-type: none;
}
.slider-pagination ul li {
  float: left;
  display: inline;
  width: 22px;
  height: 22px;
  margin-right: 5px;
}
.slider-pagination ul li a {
  width: 22px;
  height: 22px;
  display: block;
  background: url(images/slider1-pagination.png) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
.slider-pagination ul li a:hover,
.slider-pagination ul li a.active {
  background: url(images/slider1-pagination-hover.png) no-repeat 0 0;
}
#slider.project-slider,
#slider.project-slider .slider-content,
#slider.project-slider .slider-content ul li,
#slider.project-slider .jcarousel-clip {
  width: 630px;
  height: 240px;
}
#slider.project-slider {
  border: 3px solid #d9d9d9;
  margin: 13px 0 10px;
}
#slider.project-slider #slider-prev {
  top: 125px;
  left: -10px;
  background: url(images/project-slider-prev.png) no-repeat 0 0;
}
#slider.project-slider #slider-next {
  top: 125px;
  right: -9px;
  background: url(images/project-slider-next.png) no-repeat 0 0;
}

#fade-slider {
  width: 940px;
  height: 360px;
  position: relative;
  z-index: 1;
  background-color: #000;
  margin-top: 5px;
}
.fade_item_holder {
  width: 940px;
  height: 300px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.fade_item_holder .fade_item {
  position: relative;
  width: 940px;
  height: 300px;
  margin: 0 auto;
  display: none;
  z-index: 2;
}
.fade_item_holder .fade_item_current {
  display: block;
}
.fader_bottom {
  height: 62px;
  background: url(images/slider2-bottom-bg.gif) repeat-x 0 0;
  position: relative;
  margin-top: -2px;
  z-index: 5;
}
.fade_item_thumbs {
  position: relative;
  float: right;
  display: inline;
  margin-top: 11px;
}
.fade_item_thumbs ul {
  list-style-type: none;
}
.fade_item_thumbs ul li {
  float: left;
  display: inline;
  width: 60px;
  height: 40px;
  border: 1px solid #a1a1a0;
  margin-right: 10px;
}
.fade_item_thumbs ul li a img {
  display: block;
  width: 58px;
  height: 38px;
  border: 1px solid #fff;
  cursor: pointer;
  opacity: 0.3;
  opacity: 0.3;
  -moz-opacity: 0.3;
  filter: alpha(opacity=30);
}
.fade_item_thumbs ul li a:hover img,
.fade_item_thumbs ul li a.current_thumb img {
  opacity: 1;
  -moz-opacity: 1;
  filter: alpha(opacity=100);
}
.fade_pointer {
  position: absolute;
  top: 43px;
  left: 24px;
  width: 17px;
  height: 8px;
  display: block;
  z-index: 15;
  background: url(images/fader-pointer.gif) no-repeat 0 0;
}

.fade_items_text {
  float: left;
  display: inline;
  width: 580px;
  padding: 23px 0 0 15px;
}
.fade_items_text ul {
  list-style-type: none;
}
.fade_items_text ul li {
  display: none;
}
.fade_items_text ul li.current_text {
  display: block;
}

#flash-slider {
  width: 940px;
  height: 300px;
  margin-top: 5px;
}

.tl,
.tr,
.bl,
.br {
  position: absolute;
  width: 4px;
  height: 4px;
  display: block;
  z-index: 10;
}
.tl {
  top: 0;
  left: 0;
  background: url(images/tl.png) no-repeat 0 0;
}
.tr {
  top: 0;
  right: 0;
  background: url(images/tr.png) no-repeat 0 0;
}
.bl {
  bottom: 0;
  left: 0;
  background: url(images/bl.png) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}
.br {
  bottom: 0;
  right: 0;
  background: url(images/br.png) no-repeat 0 0;
  font-size: 0;
  line-height: 0;
  text-indent: -4000px;
}

#main {
  padding-top: 30px;
  padding-bottom: 20px;
  height: 100%;
}

.col {
  float: left;
  display: inline;
  margin-right: 43px;
}
.col-2 {
  width: 306px;
  margin-right: 22px;
  background-color: #ffffff;
}
.col-3 {
  width: 279px;
  border-bottom: 1px dotted #ccc;
}

#content {
  width: 695px;
}
#content.cols {
  float: left;
  display: inline;
  width: 695px !important;
}

#sidebar {
  width: 308px;
}
#sidebar .col {
  float: none;
  display: block;
}
#sidebar.cols-4 {
  width: 300px !important;
}

.about-image {
  float: right;
  display: inline;
  margin-left: 10px;
}

.quote-block {
  position: relative;
  background: url(images/quotes-up.gif) no-repeat 0 0;
  color: #444;
  padding: 5px 0 55px 1px;
  margin: 0 10px 0 0;
  height: 75px;
  line-height: 1.5;
}
.quote-block ul {
  list-style-type: none;
}
.quote-block ul li {
  display: none;
}
.quote-block ul li.current {
  display: block;
}
.quote-block h2 {
  font-style: italic;
  line-height: 36px;
  padding-right: 30px;
}
.quote-block p {
  font-size: 14px;
}
.quote-block .quotes-down {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 63px;
  height: 46px;
  background: url(images/quotes-down.gif) no-repeat 0 0;
}

.gallery-holder {
  margin-top: 33px;
}
.gallery-holder ul {
  list-style-type: none;
  padding: 0;
}
.gallery-holder ul li {
  float: left;
  display: inline;
  width: 110px;
  height: 110px;
  padding: 2px;
  margin: 0 10px 10px 0;
  border: 1px solid #d9d9d9;
}
.gallery-holder ul li a {
  display: block;
  width: 110px;
  height: 110px;
}

ul.blue-arrow {
  list-style-type: none;
  padding: 0;
}
ul.blue-arrow li {
  background: url(images/blue-arrow.gif) no-repeat 0 11px;
  border-bottom: 1px solid #ccc;
  padding: 4px 0 5px 13px;
}
ul.blue-arrow li.last {
  border: 0;
}
ul.blue-arrow li a {
  text-decoration: none;
}
.ads {
  float: left;
  display: inline;
  width: 130px;
  height: 130px;
  margin: 5px 20px 0 0;
}

ul.team {
  list-style-type: none;
  padding: 10px 0 0 0;
}
ul.team li {
  float: left;
  display: inline;
  width: 190px;
  margin: 0 25px 42px 0;
}
ul.team li .member-picture {
  float: left;
  display: inline;
  width: 80px;
  height: 75px;
  border: 2px solid #dfdfdf;
  margin-right: 12px;
}
ul.team li .member-name {
  float: left;
  display: inline;
  line-height: 14px;
  padding-top: 20px;
}
ul.team li .member-name h6 {
  color: #000;
}
ul.team li .member-name p {
  color: #5d7a91;
  font-size: 11px;
}
.request-btn {
  display: block;
  width: 260px;
  height: 33px;
  background: url(images/request-btn.gif) no-repeat 0 0;
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 14px 0 0 20px;
  margin-top: 14px;
}
.request-btn:hover {
  background-position: 0 bottom;
  color: #fff;
}

.project-item {
  margin: 20px 0 20px;
}
.project-item .images {
  float: left;
  display: inline;
  width: 294px;
  height: 159px;
  margin-right: 10px;
  overflow: hidden;
}
.project-item .posted-in {
  font-size: 11px;
  color: #777;
}
.project-item h3 {
  font-size: 20px;
  color: #222;
}
.project-item p {
  margin-bottom: 10px;
}
.project-item .more {
  display: inline;
  font-weight: normal;
  font-size: 13px;
  margin-top: 3px;
}

.project-gallery {
  padding-top: 8px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.project-gallery ul {
  list-style-type: none;
  padding: 0;
}
.project-gallery ul li {
  float: left;
  display: inline;
  width: 194px;
  background-color: #ffffff;
  margin-top: 0;
  margin-right: 11px;
  margin-bottom: 14px;
  margin-left: 0;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: none;
}
.project-gallery ul li .project-thumb {
  width: 100px;
  height: 141px;
  background-color: #fff;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 50px;
  border-bottom-width: 1px;
  border-bottom-style: none;
}
.project-gallery ul li .project-title {
  line-height: 20px;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 5px;
  padding-left: 30px;
}
.project-gallery ul li .project-title h6 a {
  color: #000033;
  font-size: 12px;
  text-decoration: none;
}
.project-gallery ul li .project-title p {
  font-size: 12px;
  margin: 0;
}

.pagination {
  margin-bottom: 20px;
  height: 100%;
}
.pagination ul {
  list-style-type: none;
  padding: 0;
}
.pagination ul li {
  float: left;
  display: inline;
  height: 24px;
  margin-right: 2px;
}
.pagination ul li a {
  float: left;
  display: inline;
  height: 24px;
  background: url(images/pagination-bg.gif) repeat-x 0 bottom;
  border: 1px solid #ccc;
  padding: 0 6px;
  font-weight: bold;
  color: #454545;
  text-decoration: none;
  line-height: 23px;
}
.pagination ul li a:hover,
.pagination ul li a.active {
  height: 26px;
  background: #868686 url(images/pagination-hover.gif) repeat-x 0 bottom;
  border: 0;
  padding: 0 7px;
  color: #fff;
  line-height: 25px;
}

.service-main-image a.images,
.service-main-image a.images img {
  width: 636px;
  height: 212px;
}

ul.contact-info {
  list-style-type: none;
  padding: 0;
}
ul.contact-info li {
  margin-bottom: 10px;
}
ul.contact-info li strong {
  margin-right: 5px;
}
ul.contact-info li a {
  text-decoration: none;
}
ul.contact-info li .phone-number {
  color: #0072b4;
}

.testimonials-item {
  padding-right: 20px;
  margin-bottom: 15px;
}
.testimonials-item p {
  font-style: italic;
  margin-bottom: 5px;
}
.testimonials-item p.author {
  font-style: normal;
  text-align: right;
  line-height: 15px;
}
.testimonials-item p.author strong {
  color: #0072b4;
  display: block;
}

.service-item {
  margin-bottom: 15px;
}
.service-item h4 a {
  display: block;
  text-decoration: none;
  margin-bottom: 10px;
}
.service-item .images {
  float: left;
  display: inline;
  width: 210px;
  height: 149px;
  margin-right: 15px;
}
.service-item .images img {
  width: 210px;
  height: 149px;
}
.service-item .more {
  text-decoration: none;
  display: inline;
}

.error-404 {
  width: 908px;
  height: 400px;
  background: url(images/error-404.jpg) no-repeat 0 0;
  margin: 72px 0 0 27px;
}
.error-404 .return-home {
  display: block;
  width: 153px;
  height: 33px;
  background: url(images/return-home-btn.gif) no-repeat 0 0;
  font-weight: bold;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  line-height: 32px;
  padding-left: 13px;
  position: relative;
  top: 220px;
}
.error-404 .return-home:hover {
  background-position: 0 bottom;
  color: #fff;
}

.under-construction {
  width: 480px;
  height: 360px;
  background: url(images/under-construction-image.jpg) no-repeat 0 0;
  margin: 100px auto 0;
}
.under-construction h1#logo {
  width: 197px;
  height: 64px;
  margin: 34px 0 0 117px;
}
.under-construction h1#logo a {
  height: 64px;
  background: url(images/logo2.jpg) no-repeat 0 0;
}
.under-construction .text-holder {
  text-align: center;
  color: #fff;
  padding-top: 100px;
}
.under-construction .text-holder h2,
.under-construction .text-holder h4 {
  line-height: 42px;
  font-weight: bold;
  text-shadow: 0 2px 2px #000;
}
.under-construction .text-holder h2 {
  font-size: 42px;
}

.row {
  width: 624px;
  margin-bottom: 10px;
}
.row .field,
.row .message {
  float: left;
  display: inline;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 2px solid #d9d9d9;
}
.row .field {
  width: 226px;
  height: 18px;
  padding: 2px 5px;
  font-family: "Trebuchet MS", sans-serif;
  color: #454545;
}
.row .field-focus {
  border: 2px solid #1782c9 !important;
}
.row .message {
  width: 359px;
  height: 134px;
  overflow-y: auto;
}
.row label {
  float: left;
  display: inline;
  width: 220px;
  text-align: right;
  margin-right: 10px;
}
.row label span {
  color: #999;
  font-size: 11px;
}
.row .submit-btn {
  float: right;
  display: inline;
  width: 127px;
  height: 26px;
  background: url(images/contact-form-btn.gif) no-repeat 0 0;
  color: #fff;
  font-size: 13px;
  line-height: 22px;
  padding: 3px 0;
  margin-right: 21px;
  border: 0;
  cursor: pointer;
}
.field-error {
  border: 2px solid #b70000 !important;
}
.msg-alert,
.msg-thanks {
  width: 624px;
  height: 26px;
  background: #b70000;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-bottom: 10px;
  display: none;
}
.msg-thanks {
  background: #2292d9 !important;
}
.msg-alert p,
.msg-thanks p {
  text-align: center;
  margin: 0;
  color: #fff;
  line-height: 25px;
}

.google-map {
  width: 279px;
  heght: 278px;
  display: block;
  margin-bottom: 5px;
}

.blog-item {
  margin-bottom: 40px;
}
.blog-item .entry .images {
  float: left;
  display: inline;
  border: 1px solid #e6e6e6;
  margin-right: 15px;
}
.blog-item .posted-in {
  margin: 10px 0 5px;
}
.blog-item .posted-in .category {
  color: #0072b4;
  text-decoration: none;
  font-weight: bold;
}
.blog-item .posted-in .category:hover {
  color: #000;
}
.blog-item .posted-in .comments {
  background: url(images/comments-icon.gif) no-repeat 0 4px;
  color: #a9a9a9;
  text-decoration: none;
  padding-left: 15px;
}
.blog-item .posted-in .comments:hover {
  color: #000;
}
.blog-item .blog-tags a {
  color: #858585;
  padding-left: 7px;
}
.blog-item .more {
  font-size: 13px;
  font-weight: normal;
}

.archive-list li a {
  color: #454545;
  font-weight: bold;
}
.archive-list li a:hover,
.archive-list li a.active {
  color: #0072b4;
}
.archive-list li ul {
  padding: 0;
  list-style-type: none;
}
.archive-list li ul li {
  float: left;
  display: inline;
  background: none;
  border: 0;
  padding: 0;
  margin-right: 5px;
}
.archive-list li ul li.first {
  text-indent: 15px;
}
.archive-list li ul li a {
  font-weight: normal;
  color: #0072b4;
  text-decoration: underline;
}
.archive-list li ul li a:hover {
  color: #000;
  text-decoration: none;
}

.cloud-tags {
  list-style-type: none;
  padding: 0 !important;
}
.cloud-tags li {
  float: left;
  display: inline;
  margin-right: 10px;
  white-space: nowrap;
}
.cloud-tags li a {
  float: left;
  display: inline;
  text-decoration: none;
  font-weight: normal;
  line-height: 28px;
}
.cloud-tags li h1 a {
  font-size: 36px;
}
.cloud-tags li h2 a {
  font-size: 30px;
}
.cloud-tags li h3 a {
  font-size: 24px;
}
.cloud-tags li h4 a {
  font-size: 18px;
}
.cloud-tags li h5 a {
  font-size: 14px;
}
.cloud-tags li h6 a {
  font-size: 12px;
}

.comments-holder {
  padding-bottom: 20px;
}
.comments-holder h5.count {
  font-weight: normal;
  color: #3b3b3b;
  background: url(images/comments-icon.gif) no-repeat 0 5px;
  border-bottom: 2px solid #d1d1d1;
  padding: 0 0 7px 17px;
}
.comment-item {
  padding: 18px 0;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #d1d1d1;
}
.comment-item .author-info {
  float: left;
  display: inline;
  width: 120px;
  text-align: right;
  font-size: 12px;
}
.comment-item .author-info .comment-number {
  background: url(images/comments-icon.gif) no-repeat 0 5px;
  color: #888;
  padding-left: 15px;
}
.comment-item .comment-text {
  float: right;
  display: inline;
  width: 550px;
}
.comment-item .comment-text p {
  margin-bottom: 15px;
}
.comment-replay {
  float: right;
  display: inline;
  width: 420px;
  background-color: #f4f4f4;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 18px 0 10px 0;
  margin-top: 5px;
}
.comment-replay .author-info {
  width: 140px;
}
.comment-replay .author-info .comment-number {
  background: none;
}
.comment-replay .comment-text {
  width: 265px;
}

.comment-form {
  padding-bottom: 20px;
}
.comment-form h5 {
  font-weight: normal;
  color: #000;
  margin-bottom: 20px;
}
.comment-form .row {
  width: 470px;
}
.comment-form .row .message {
  width: 226px;
}
.comment-form .row .submit-btn {
  margin-right: 0;
}

.sitemap-list ul {
  list-style-type: none;
}
.sitemap-list li {
  border: 0 !important;
  padding-bottom: 0 !important;
}
.sitemap-list li a {
  text-transform: none;
  font-weight: normal;
  text-decoration: underline !important;
}
.sitemap-list li ul li {
  background: none;
}
.sitemap-list li ul li a {
  color: #000;
  font-weight: normal;
  text-transform: none;
}
.sitemap-list li ul li a:hover {
  color: #a4a4a4;
}
.sitemap-list li ul li ul li a {
  color: #a4a4a4;
}
.sitemap-list li ul li ul li a:hover {
  color: #000;
}

#footer {
  width: 100%;
  background-color: #191919;
}
#footer-push {
  height: 342px;
}
#footer .shell {
  width: 1065px;
  background: #191919;
  padding: 13px 0 0 0;
  height: 329px;
}
.footer-cols {
  width: 1065px;
  background: url(images/footer-cols-bg.gif) repeat-x 0 0;
}
.footer-cols-b {
  background: url(images/footer-cols-b.gif) no-repeat 0 bottom;
  padding: 18px 0 0 18px;
  min-height: 272px;
}
.footer-cols .col {
  float: left;
  display: inline;
  width: 210px;
  margin-right: 34px;
  color: #afafaf;
}
.footer-cols .col h5 {
  font-size: 16px;
  text-transform: uppercase;
  padding-bottom: 3px;
}
.footer-cols .col .text-holder {
  padding-top: 13px;
}
.footer-cols .col p {
  margin-bottom: 20px;
  line-height: 18px;
}
.footer-cols .col ul {
  list-style-type: none;
  padding-top: 3px;
}
.footer-cols .col ul li {
  padding-bottom: 2px;
  margin-bottom: 2px;
}
.footer-cols .col ul li.last {
  border: 0;
}
.footer-cols .col ul li a {
  color: #afafaf;
  font-size: 12px;
  text-decoration: none;
}
.footer-cols .col ul li a:hover {
  color: #fff;
}
.footer-cols .col ul.gray-arrow {
}
.footer-cols .col ul.gray-arrow li {
  background: url(images/gray-arrow.gif) no-repeat 0 8px;
  padding: 0 0 3px 10px;
  margin-bottom: 2px;
}
.footer-cols .col ul.gray-arrow li a {
  font-size: 13px;
  text-transform: uppercase;
}
.footer-cols .col .tweet_text {
  color: #fff;
  font-size: 13px;
}
.footer-cols .col .tweet_text a {
  color: #027bc0;
  text-decoration: underline;
  font-size: 12px;
}
.footer-cols .col .tweet_time a {
  color: #afafaf;
  font-size: 11px;
  padding-left: 10px;
}
.footer-bottom {
  width: 1065px;
  height: 30px;
  background: url(images/footer-bottom-bg.gif) no-repeat 0 0;
  color: #7b7b7b;
  padding: 9px 23px 0 20px;
}
.footer-bottom a {
  color: #7b7b7b;
  text-decoration: none;
}
.footer-bottom a:hover {
  color: #fff;
}
.footer-bottom .left {
}
.footer-bottom .left a {
  text-transform: uppercase;
  font-size: 11px;
}
.footer-bottom .left span {
  color: #323232;
}
.footer-bottom .right {
  font-size: 12px;
}

.breadCrumb {
  padding: 10px 0px 0px 0px;
  font: small Ariel, sans-serif;
  font-size: 11px;
  color: #000;
}

.breadCrumb a {
  color: #000;
}

.breadCrumb a:hover {
  color: #005fa9;
  text-decoration: underline;
}
.sign_up_box .top {
  margin-bottom: 30px;
  background: #deb305;
  color: #ffffff;
  text-align: center;
  position: relative;
  height: 158px;
}

.sign_up_box .top img {
  position: absolute;
  left: 50%;
  bottom: -18px;
  margin-left: -18px;
  display: block;
  width: 36px;
}

.sign_up_box .top-inner {
  padding: 30px 0;
}

.sign_up_box .top h3 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.sign_up_box .top h4 {
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 16px;
  line-height: 20px;
}

.sign_up_box .top h5 {
  font-size: 15px;
  font-style: italic;
  font-weight: bold;
  padding: 0;
  color: #fff;
}

.sign_up_box h5 {
  color: #deb305;
  font-size: 16px;
  padding-bottom: 12px;
  font-weight: bold;
}

.sign_up_box p {
  padding-bottom: 20px;
  line-height: 17px;
}

.sign_up_box label {
  font-weight: bold;
  float: left;
  line-height: 28px;
}

.sign_up_box input {
  height: 24px;
  border: 0;
  background: #f8f0cd;
  padding: 2px 8px;
  float: right;
  line-height: 26px;
  width: 196px;
}

.home #sign_up_box input {
  width: 226px;
}

.sign_up_box .clear {
  padding-bottom: 8px;
}

.button {
  background: #333399;
  color: #ffffff;
  border: 0;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 23px;
  text-transform: uppercase;
  margin-top: 12px;
  cursor: pointer;
}

#sign_up_box .button {
  margin-left: 52px;
}
.header-links {
  float: right;
  padding-top: 35px;
  color: #8f8f91;
}
.header-links li {
  float: left;
  padding: 0 25px;
  list-style: none;
  line-height: 12px;
}
.header-links li.last {
  border-right: none;
}
.header-links li a {
  color: #666;
  text-decoration: none;
}
.header-links li a:hover {
  text-decoration: underline;
}
.language {
  display: block;
  width: 164px;
  float: left;
  border: solid 1px #ccc;
  position: relative;
  cursor: pointer;
  zoom: 1;
  height: 31px;
  margin-top: 22px;
  margin-left: 145px;
}
.bullet {
  background: url(images/blue-arrow.png) no-repeat 0px 8px;
  padding-left: 20px;
  list-style-type: none;
  padding-bottom: 2px;
}
.small-cols .col {
  float: left;
  display: block;
  width: 298px;
  margin: 5px;
}
.enrol-button {
  float: left;
  display: block;
  width: 147px;
  margin: 5px;
}
.cpdimage {
  float: right;
  display: block;
  margin: 5px;
}
.cpdimage2 {
  float: inherit;
  display: block;
  margin: 5px;
}

.fraud_image {
  float: right;
  display: block;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.enrol-button {
  float: left;
  display: block;
  width: 147px;
  margin: 5px;
}

ul.ul {
  margin-left: 20px;
  list-style: none;
}
ul.ul li {
  padding-left: 15px;
  background: url(images/blue_bullet.png) 0 8px no-repeat;
}
ul.ul ul {
  margin: 0 0 0 20px;
  list-style: none;
}
.map_image {
  float: right;
  display: block;
  width: 376px;
  margin: 5px;
}
.brochure_image {
  float: left;
  display: block;
  width: 250px;
  margin: 5px;
}
.CPDbrochure_image {
  float: right;
  display: block;
  width: 183px;
  margin: 20px;
}
.social_media {
  float: left;
  display: block;
  padding-left: 7px;
  padding-right: 7px;
}
.ad_images {
  display: block;
  margin: 5px;
}

/* Custom styles */

.title {
  line-height: 2rem;
}

.title + ul {
  margin-top: 15px;
  margin-bottom: 30px;
  margin-left: 30px;
}

.title + ul > li > a {
  font-size: medium;
  text-decoration: none;
}

.title + ul > li > a:hover {
  text-decoration: underline;
}
