---
title: About Prof. Kelly Mua Kingsly

---

{% extends "layouts/base.njk" %}
{% block styles %}
  <link href="/assets/css/style1.css" media="all" rel="stylesheet" type="text/css">
  {#
<link rel="stylesheet" href="{{bundle.css.about}}" /> #}
{% endblock %}
{% block scripts %}
  {#
<script src="{{bundle.js.about}}" defer="true"></script> #}
{% endblock %}

{% block content %}
  <div class="cols" id="content">
    <div class="col last" style="margin-bottom: 30px;">
      <div class="entry" style="text-align: justify;">
        <h1 class="title">Prof. Kelly Mua Kingsly</h1>
        <img src="/assets/css/images/profile photo prof kelly.jpeg" width="300" style="margin: 30px 0;" alt="">
        <h2 class="title">BIOGRAPHY</h2>
        <p>
        Kelly Mua Kingsly is a seasoned public finance manager with a wide range of skills that have been honed over
        time to enhance his performance as an exemplary professional. Prof. Kelly Mua Kingsley is currently Head of
        State Financial Operations at the Department of Finance; he is also responsible for project financing at the
        Ministry of the Economy, Planning and Regional Development, Censorship at the Central Bank (BEAC), Designated
        representative at the Regional Consultative Commission for Financial Markets. Prior to the above, Prof. Kelly
        was technical advisor to the General Directorate of the Treasury, Monetary and Financial Cooperation. Prof.
        Kelly Mua has enjoyed a rich and varied career spanning several countries and disciplines in the international
        civil service, national civil service, private sector and non-profit organizations often setting up numerous
        start-ups for organizations at non-profit.
      </p>
        <p>
        Prof. Kelly Mua served as Deputy Resident Representative - Operations to the United Nations. He held a
        consultant position as a program manager for projects sponsored by the African Development Bank. Previously I
        held the positions of Managing Director and Deputy Managing Director for Premier Enterprise and Marsterjes Ltd
        respectively
      </p>
        <p>
        He has held several positions in the financial management of the State treasury, which range respectively from
        auditor, head of the treasury and accounts department, deposits and consignments, computer processing and
        account processing and head of expenditure. His contributions as a team member and leader, led to the systematic
        production of the country's first management accounts by his region, a key indicator for the country's admission
        into the HIPIC initiative.
      </p>
        <p>
        Prof. Kelly Mua is a founding member of the International Institute of Certified Forensic Accountants. He is the
        author and researcher, among some of his important works we have (i) The roadmap for African countries in the
        fight against corruption (ii) Perspectives on infrastructure development in emerging economies (iii) Forensic
        and ethical accounting (iv) Financial crime investigation (v) Corporate fraud and risk management (vi)
        “financing the green economy” (vii) venality and racketeering in public management, all of the above exposes the
        science from legal accounting in the fight against corruption, perspectives on business risk management, policy
        analysis, with the aim of cleaning up public management.
        Prof. Kelly Mua Kingsley is Assistant Guest Lecturer at Copper Stone University in Zambia and Affiliate Lecturer
        at various institutions.
      </p>
        <p>
        With more than 18 years of working experience the forward looking professional stands ready to provide effective
        and strategic leadership on a beam of technical fields traversing Policy analysis, Public Finance Management,
        Operations, Forensic Accounts and Financial Investigations, Institutional Representation, Program and Project
        Management, Economic Development, Reconstruction and Recovery Programs, Strategic and Political Information and
        Issue Analysis, Management of Strategic Organizations, Institutional and Organizational Coordination, Strategic
        Planning; Resource mobilization, Project monitoring and evaluation, Resource mobilization and Multi-partnership
        coordination, Public policy analysis and Business management.
      </p>
        <div class="cl">
        &nbsp;
      </div>
      </div>
    </div>
  </div>
  <div class="cl"></div>
{% endblock %}