---
title: About Prof. Richard Mayungbe

---

{% extends "layouts/base.njk" %}
{% block styles %}
  <link href="/assets/css/style1.css" media="all" rel="stylesheet" type="text/css">
  {#
<link rel="stylesheet" href="{{bundle.css.about}}" /> #}
{% endblock %}
{% block scripts %}
  {#
<script src="{{bundle.js.about}}" defer="true"></script> #}
{% endblock %}

{% block content %}
  <div class="cols" id="content">
    <div class="col last" style="margin-bottom: 30px;">
      <div class="entry" style="text-align: justify;">
        <h1 class="title">Prof. Richard Mayungbe</h1>
        <img src="/assets/css/images/profile photo prof richard.jpeg" width="300" style="margin: 30px 0;" alt="">
        <h2 class="title">CONTACT</h2>
        <h3 style="font-family: mono;">
        CM: +237 677 65 80 51
        </h3>
        <h2 class="title"></h2>
        <h2 class="title">BIOGRAPHY</h2>
        <p>
        Prof. Richard Mayungbe attended the School of Accountancy & Business Studies and
        Canterbury University, UK, Obafemi Awolowo University Ile-Ife, University of Calabar, Ladoke
        Akintola University of Technology, Ogbomosho, all in Nigeria and Gordon University, Florida. He
        holds the PhD (Finance), MSc (Finance), MBA (Finance), Post-Graduate Diploma in
        Management, and BSc (Accounting) as well as an Advanced Diploma in Banking & Finance. He is
        Fellow of the Institute of Company & Commercial Accountants, a Fellow of the Institute of
        Credit Administration, Fellow of the International Institute of Certified Forensic Investigations
        Professionals, Fellow of the International Academy of Forensics, a Canadian Certified
        Professional Forensic Accountant, Chartered Forensic and Investigative Auditors, Associate of
        the Institute of Credit Management, as well as a Fraud Examiner. Richard is a Member of the
        Institute of Planning, and a Subject Matter Expert at the Bankers Academy, U.SA. He also holds
        the SEC License as a Financial/Investment Adviser in the Federal Republic of Nigeria. He is a
        Canadian Chartered Management Consultant as well as a member of the Nigerian Institute of
        Training and Development. Richard is a CMD Certified Management Trainer. He is also Certified
        In Supply Chain and Operations Management (CISCOM) and holds the CISCOM Certified
        Trainer’s License in Africa.
      </p>
        <p>
        He is an Adjunct Professor of Financial Control at the Lincoln University, California – SKB
        Executive Business School, and a faculty member at the Institute of Planning, Nigeria. He is a
        Licensed Education Provider for the Institute of Certified Forensic Accountants Canada. Richard
        is a member of the ACFE Advisory Council, as well as a member of SEC Capital Market
        Committee on New Products & Processes. Richard is a Visiting Professor of Forensics at the
        Copper Stone University, Zambia.
      </p>
        <p>
        He has presented many research papers at conferences, seminars, symposia and workshops
        locally and internationally.
      </p>
        <p>
        Prof. Kelly Mua is a founding member of the International Institute of Certified Forensic Accountants. He is the
        author and researcher, among some of his important works we have (i) The roadmap for African countries in the
        fight against corruption (ii) Perspectives on infrastructure development in emerging economies (iii) Forensic
        and ethical accounting (iv) Financial crime investigation (v) Corporate fraud and risk management (vi)
        “financing the green economy” (vii) venality and racketeering in public management, all of the above exposes the
        science from legal accounting in the fight against corruption, perspectives on business risk management, policy
        analysis, with the aim of cleaning up public management.
        Prof. Kelly Mua Kingsley is Assistant Guest Lecturer at Copper Stone University in Zambia and Affiliate Lecturer
        at various institutions.
      </p>
        <p>
        He represents in Nigeria, The Institute of Certified Forensic Accountants, (ICFA) Canada,
        Business Research and Services Institute, (BRASI), USA, and the Chartered Institute of
        Management Consultants, Canada. He is the Chief Executive of TSI Limited, <a
          href="www.tsigroups.com">(www.tsigroups.com)</a> a
        research and training outfit with head office in Lagos and branches along the ECOWAS, Asia,
        Europe and America. He is also the Managing Partner of Richard & Co. Forensic Accountants
        with offices across Africa.
      </p>
        <div class="cl">
        &nbsp;
      </div>
      </div>
    </div>
  </div>
  <div class="cl"></div>
{% endblock %}